*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: blue;
    /*background-color: hsl(30, 38%, 92%);*/
}

@media (min-width: 600px){
    body{
        background-color: hsl(30, 38%, 92%);
    }   
}
@media (min-width: 900px){
    body{
        background-color: hsl(0, 93%, 49%);
    }   
}
.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;

    flex-direction: column;
    

}


.content{
    width: 300px;
    background-color: #fff;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 20px;
}

.left-image{
    background: url("../images/image-product-desktop.jpg");
    height: 200px;
    width: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0% 35%;
    background-color: #fff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    
}
button{
    margin-top: 20px;
    width:100%;
    border: none;
    padding: 14px;
    font-size:  13px;
    color: #fff;
    background-color:hsl(158, 36%, 37%);
    border-radius: 8px;
    font-family: "Montserrat",sans-serif;
    display:flex;
    justify-content: center;
    gap: 15px;
    font-weight:700;
}

button:hover{
    cursor: pointer;
    background-color:hsl(158, 46%, 25%);
}
.content-price{
    display: flex;
    align-items: center;
}
.offert-price{
    color: hsl(158, 36%, 37%);
    font-family: "Fraunces",sans-serif;
    font-weight:700;
}

.real-price{
    
    font-family: "Montserrat", sans-serif;
    color: hsl(228, 12%, 48%);
    margin-left: 10px;
    font-size: 13px;
    text-decoration: line-through;

}

@media (min-width: 600px){
    .container{
        flex-direction: row;
        
    
    }
    
    .content{
        height: 400px;
        width: 300px;
        background-color: #fff;
        border-radius: 0px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 20px;
    }
    
    .left-image{
        height: 400px;
        width: 200px;
        background-size: cover;
        background-position: 50% 0%;
        background-color: #fff;
        border-radius: 0px;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
        
    }   
}
@media (min-width: 900px){
    
    .content{
        height: 400px;
        width: 400px;
        background-color: #fff;
        border-radius: 0px;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        padding: 20px;
    }
    
    .left-image{
        height: 400px;
        width: 400px;
        background-size: cover;
        background-position: 50% 25%;
        background-color: #fff;
        border-radius: 0px;
        border-bottom-left-radius: 8px;
        border-top-left-radius: 8px;
        
    }
    button{
        margin-top: 40px;
        padding: 20px;
        font-size:  20px;
    }
    .content-price {
        margin-top: 30px;
    }
      
    .offert-price {
        font-size: 40px;
        font-weight: 800;
    }
      
    .real-price {
        margin-left: 10px;
        font-size: 20px;
    }   
}


.sub-title{
    font-family: "Montserrat",sans-serif;
    font-size: 10px;
    color: hsl(228,12%, 48%);
    font-weight: 500;
    letter-spacing: 4px;
}

.title{
    color: hsl(212,21%,14%);
    font-family: "Fraunces",sans-serif;
    margin-top:15px;
}
.text-content{
    font-family: "Montserrat",sans-serif;
    color: hsl(228,12%, 48%);
    margin-top:15px;
    margin-bottom: 15px;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 1px;
}



