*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: hsl(210, 60%, 98%);
    font-family: 'Plus Jakarta Sans', sans-serif;
}

h1{
    font-size: 1.5em;
}

.container{
    background-color: #fff;
    height: 100%;
    max-width: 600px;
    padding: 20px;
    margin: 0px auto;
    display: grid;
    grid-template-areas: 
    "header"
    "main"
    ;
    grid-template-rows: 100px auto;
}

.header{
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center; 
    /*background-color: aqua;*/
    grid-area: header;
}

.header .badge{
    background-color: hsl(219, 85%, 26%);
    color: #fff;
    font-size: 0.7em;
    padding: 0px 12px;
    border-radius: 6px;
}

.header a{
    justify-self: end;
    color: hsl(219, 14%, 63%);
}
.header a:hover{
    text-decoration: none;
    color: hsl(219, 85%, 26%);
}


.main{
    /*background-color: green;*/
    display: grid;
    grid-area: main;
    align-content: flex-start;
    gap: 10px;
}

.main .card{
    display: grid;
    height: auto;
    border-radius: 10px;
    /*background-color: green;*/
    padding: 0px 10px;
    grid-template-areas: 
    "avatar content";
    column-gap: 1px;
    grid-template-columns: 15% auto;
}

.main .card .avatar{
    grid-area: avatar;
}

.main .card .avatar {
    margin: auto auto;
}

.main .card .avatar img{
    width: 80%;
}
a{
    text-decoration: none;
    color: hsl(224deg 9% 34%);
    font-weight: 800;
}
.main .card .content{
    grid-area: content;
    color:hsl(222deg 5% 42%);
}

div .unread{
    background-color:hsl(211, 68%, 94%);
}

.unread .content p::after{
    content: "  ⚫";
    color: red;
    width: 5px;

}
strong{
    color: #000;
}
.main .card .content .time{
    color: #9c9fa4;
}

.card__sms {
    padding: 15px 10px;
    border: 1px solid #ccc;
}



/*.picture p::after{
    content: url(./assets/images/image-chess.webp);
    display:block;
    width: 5px;
    height:5px;
    position:relative;
    left: 150px;
    top: -20px;
}*/


@media (min-width: 600px){
    h1{
        font-size: 2em;
    }
    
    .container{
        margin: 40px auto;
        border-radius: 20px;
        padding: 30px;
        max-width: 800px;
        
    }
    .main{
        gap: 20px;
    }
    .main .card{
        padding: 20px;
        gap: 20px;

    }
    .main .card .avatar{
        display: flex;
        align-items: flex-start;
        
    }  
    .main .card .avatar img{
        width: 60%;
    }  

}